*{
    background: linear-gradient(135deg, #e7e4f3, #f9f9fc);

}

nav {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  background-color: #fff; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  padding: 1rem 2rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}


